{% extends "network/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="new-post">
                    <form class="new-post__form">
                        <input type="text" name="content" class="new-post__content" style="width:100%" placeholder="Share your story with us !!!">
                        <button class="new-post__share-btn">
                            Share
                        </button>
                    </form>
                </div>
                <div class="all-posts"></div>
            </div>

            <div class="col-3">


            </div>
        </div>
    </div>
{% endblock %}