{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="user-profile-view">
        <div class="card">
            <img class="card-img-top user-profile__img" src="{% static 'network/user.png' %}" alt="Card image cap">
            <div class="card-body">
                <h4 id="user-profile__username"></h4>
                <!--
                <p id="user-profile__email-address"></p>
                <p id="user-profile__age"></p>
                <p id="user-profile__gender"></p>
                -->
                <div id="user-profile__followers"></div>
                <div id="user-profile__following"></div>
                <div id="user-profile__num_of_posts"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div id="new-post">
                    <form id="new-post__form">
                        <textarea id="new-post__body" placeholder="Share your story with us !"></textarea>
                        <button id="new-post__share-btn">
                            Share
                        </button>
                    </form>
                </div>
                <div class="all-posts"></div>
            </div>

            <div class="col-3">
            </div>
        </div>
    </div>

    <div class="overlay">
    </div>


    {% endif %}
{% endblock %}