:root {
    --new-post-color: #4E9EED;
}

html {
    font-size: 15px;
}

.container {
    margin-top: 3em;
}

.post {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 1em;
}

.post__like-btn {
    outline: none !important;
    border: none;
    background: inherit;
    padding-left: 0px;
}

.post__edit-btn {
    margin-left: 1em;
    outline: none !important;
    border: none;
    background: inherit;
    padding-left: 0px;
    float: right;
}

.post__likes {
    display: inline;
}

#new-post {
    min-height: 9em;
    border: 5px solid var(--new-post-color);
    margin-bottom: 2em;
}

#new-post__form {
    margin: 0.5em;
    width: 98%;
}

#new-post__share-btn {
    background-color: var(--new-post-color);
    outline: none !important;
    border: none !important;
    margin-top: .5em;
    color: white;
}

#new-post__form > textarea {
    width: inherit;
    height: 5em;
}