:root {
    --new-post-color: #4E9EED;
}

html {
    font-size: 15px;
    max-height: 100vh;
}

.container {
    margin-top: 3em;
    position: relative;
    z-index: 0;
}

.post {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 1em;
}

.post__like-btn {
    outline: none !important;
    border: none;
    background: inherit;
    padding-left: 0px;
}

.post__edit-btn {
    margin-left: 1em;
    outline: none !important;
    border: none;
    background: inherit;
    padding-left: 0px;
    float: right;
}

.post__likes {
    display: inline;
}

.post__timestamp {
    font-weight: lighter;
    font-size: .9em;
}

#new-post {
    min-height: 9em;
    border: 5px solid var(--new-post-color);
    margin-bottom: 2em;
}

#new-post__form {
    margin: 0.5em;
    width: 98%;
}

#new-post__share-btn {
    background-color: var(--new-post-color);
    outline: none !important;
    border: none !important;
    margin-top: .5em;
    color: white;
}

#new-post__form > textarea {
    width: inherit;
    height: 5em;
}

#user-profile__img{
    transform: scale(0.5, 0.5);
}

.user-profile-view{
	position: absolute;
    left: 35%;
	top: 15%;
	z-index: 1;
	max-width: 300px;
    margin: 40px auto 10px auto;
	transition: 200ms ease-in-out;
	transform: scale(0);

}

.user-profile-view--active{
    transform: scale(1);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	opacity: 1;
    /*background-color: rgb(0, 0, 0, 0.5);*/

}