<div class="post post-{{object.id}}">
    <div class="post__header">
        <h6
            class="post__poster"
            hx-get="{% url 'user-detail' pk=object.publisher.id %}"
            hx-target=".user-profile-popup"
            hx-trigger="click"
            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
        >{{ object.publisher }}</h6>
    </div>
    <div class="post__body">
        <div class="post__content">{{ object.content }}</div>
        <div class="oist_timestamp">{{ object.creation_date }}</div>
    </div>
    <div class="post__footer">
        {% if request.user not in object.liked_by.all %}
            <button
                class="post__like-btn"
                hx-post="{% url 'api-post-like' pk=object.id %}"
                hx-target=".post-{{object.id}}"
                hx-swap="outerHTML"
                ><span class="material-icons md-15">favorite</span>
                {{ object.like }}
            </button>
        {% else %}
            <button
            class="post__like-btn like-btn-colorized"
            hx-post="{% url 'api-post-unlike' pk=object.id %}"
            hx-target=".post-{{object.id}}"
            hx-swap="outerHTML"
            ><span class="material-icons md-15">favorite</span>
                {{ object.like }}
            </button>
        {% endif %}
        {% if request.user.id and request.user.id == object.publisher.id %}
        <button
            class="post__edit-btn"
            hx-trigger="edit"
            hx-get="{% url 'post-update' pk=object.id %}"
            hx-target=".post-{{object.id}}"
            _="on click
            if .editing is not empty
              Swal.fire({title: 'Already Editing',
                         showCancelButton: true,
                         confirmButtonText: 'Yep, Edit This Row!',
                         text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
              if the result's isConfirmed is false
                halt
              end
              send cancel to .editing
            end
            trigger edit"><span class="material-icons md-15">edit</span></button>
        {% endif %}
    </div>
</div>
