{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container">
    <header id="user-profile-header">
        <div class="row">
            <div id="user-profile-header__username">{{object.username}}</div>
            {% include "fragments/user/follow.html" %}
        </div>

        <div class="row">
            <table>
                <tr>
                  <th>Followers</th>
                  <th>Following</th>
                  <th>Posts</th>
                </tr>
                <tr>
                  <td
                    class="followers-count"
                    _="on updateFollowersCount
                    set followers to parseInt(my textContent)
                    if .following is not empty
                      set followers to followers + 1
                      set my textContent to followers
                    else
                      set followers to followers - 1
                      set my textContent to followers
                    "
                  >{{ object.followers_count }}</td>
                  <td class="following-count user-stats-counts">{{ object.following_count }}</td>
                  <td class="posts-count user-stats-counts">{{ object.posts_count }}</td>
                </tr>
              </table>
        </div>
        <div><span style="font-weight:bold">{{object.first_name}} {{object.last_name}}</span></div>
        <div>Date joined: {{object.date_joined.date}}</div>
    </header>

    <main>
        <div class='user-posts'>
        {% for object in object.posts.all %}
          {% include "fragments/post/detail.html" %}
        {% endfor %}
        </div>
    </main>

</div>
{% endblock %}
{% block extra_script %}
{% endblock %}
